{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
   
    

   
</head>
<body>
    <img src="" alt="">
    <!-- <h1>JOY UDOH</h1> -->
    <section class="header">
        <!-- <a href="about.html" img src="img\sq-lim-q1r9EZc-uCQ-unsplash.jpg"> -->
        <nav>
            <div class="navlink">
                <ul>
                    <li><a href="{% url 'home' %}">ABOUT</a></li>
                    <li><a href="{% url 'resume' %}">RESUME</a></li>
                    <li><a href="{% url 'contact' %}">CONTACT</a></li>
                </ul>
        </nav>
    </section>

    <div class="container">
        <div class"item">
            <h1>Resume</h1>
            <h5>CURRICULUM VITA</h5>
        </div>

        <div class"item">
            <h3>EXPERIENCE</h3>
            <p>I've worked on a group project in school.We were required to build a bidding website for awarding contracts and how to run all the contracts awarded. I am also an active volunteer at Chezuba and Afrisight. I also worked in an organisation that needed my skills in microsoft office(word,excel and powerpoint).</p>
        </p>
        </div>
        
       
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nulla dicta pariatur fugit ipsam id, quis minima voluptatum molestiae veniam quidem nisi modi suscipit ad! Id nam sint corrupti ut.</p> -->
        </div>

        <div class"item">
            <h3>EDUCATION</h3>
            <ul>
                <li>First Leaving certificate:2011</li>
                <li>Secondary School 1:Asacs Int'l Staff School 2012-2014</li>
                <li>Secondary School 2:Federal Govt Girls'College 2015-2017</li>
                <li>Ongoing Undergraduate Degree:2018-2022</li>
                <li>Ongoing HNG Internship: 2 months</li>
                
            </ul>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nulla dicta pariatur fugit ipsam id, quis minima voluptatum molestiae veniam quidem nisi modi suscipit ad! Id nam sint corrupti ut.</p> -->
        </div>

        <div class"item">
            <h3>SKILL LEVEL</h3>
            <ul>
                <li>HTML:<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"><i class="fas fa-star-half-alt"></i></li>
                <li>CSS:<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></li>
                <li>PYTHON: <i class="fas fa-star"></i><i class="fas fa-star"></i></li>
                <li>DJANGO:<i class="fas fa-star"></i><i class="fas fa-star"></i></li>
                <li>JAVASCRIPT: <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></li>
               
            </ul>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nulla dicta pariatur fugit ipsam id, quis minima voluptatum molestiae veniam quidem nisi modi suscipit ad! Id nam sint corrupti ut.</p> -->
        </div>
    </div>
   
        
       
    <br>
    <br>
    <br>

    <footer></footer>

</body>
</html>